:root {
  --border-radius: 8px;
  --border-color: #42434B;
  --border-width: 2px;
  --button-color: #CBCCD6;
  --header-background-color: #CBCCD6;
  --header-text-color: #42434B;
}

.bordered {
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
}

.container {
  width: 520px;
}

.container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
